* {
    margin: 0px;
    font-family: arial;
    border: border-box;
}

.navbar{
    border: 2px solid black;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.nav_fklogo{
    height: 40px;
    width: 160px;
    border: 2px solid black;
}
.nav_search{
    height: 40px;
    width: 445px;
    border: 2px solid black;
}
.nav_account{
    height: 40px;
    width: 130px;
    border: 2px solid black;
}
.nav_cart{
    height: 40px;
    width: 32px;
    border: 2px solid black;
}
.nav_seller{
    height: 40px;
    width: 160px;
    border: 2px solid black;
}
.nav_menu{
    height: 40px;
    width: 25px;
    border: 2px solid black;
}


/* Styling for category */
.category{
    border: 2px solid rgb(246, 9, 9);
    height: 126px;
    width: 98%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-left: 1%;
    margin-top: 5px;
}

.category_grocery{
    height: 126px;
    width: 122px;
    border: 2px solid red;
}
.category_mobiles{
    height: 126px;
    width: 122px;
    border: 2px solid red;
}
.category_fashion{
    height: 126px;
    width: 122px;
    border: 2px solid red;
}
.category_electronics{
    height: 126px;
    width: 122px;
    border: 2px solid red;
}
.category_homefurniture{
    height: 126px;
    width: 122px;
    border: 2px solid red;
}
.category_appliances{
    height: 126px;
    width: 122px;
    border: 2px solid red;
}
.category_travel{
    height: 126px;
    width: 122px;
    border: 2px solid red;
}
.category_beauty{
    height: 126px;
    width: 145px;
    border: 2px solid red;
}
.category_two_wheeler{
    height: 126px;
    width: 122px;
    border: 2px solid red;
}

p{
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

/* Styling for hero section */

.hero-section{
    border: 2px solid rgb(246, 9, 9);
    height: 207px;
    width: 98%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-left: 1%;
    margin-top: 5px;
}

.left-hero-button{
    background-color: black;
    height: 100px;
    width: 50px;
    align-items: center;
    margin-right: 0%;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    

}
.right-hero-button{
    background-color: black;
    height: 100px;
    width: 50px;
    align-items: center;
    margin-left: 95%;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    
}